{
  "project_info": {
    "project_number": "XXXXXXXX",
    "project_id": "tu-proyecto-id",
    "storage_bucket": "tu-proyecto.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:XXXXXXXX:android:XXXXXX",
        "android_client_info": {
          "package_name": "com.tu.paquete"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "TU_API_KEY_AQUI"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
